body {
    margin: 0;
}

#topLeft {
    margin-top: 25px;
    position: fixed;
    left: 1%;
}

#topCenter {
    margin-top: 25px;
    position: fixed;
    left: 45%;
}

#topRight {
    margin-top: 25px;
    position: fixed;
    right: 1%;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-block-end: 0;
    margin-block-start: 0;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    height: 975px;
    background-image: url("./images/CB-06.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.columna {
    width: 33%;
}

#title {
    width: 33%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#projects {
    display: flex;
    margin-left: 5%;
    height: 50%;
    margin-top: 20px;
}

#about {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    margin-top: 20px;
    height: 50%;
}

#coffee {
    display: flex;
    margin-left: 5%;
    align-items: flex-end;
    height: 50%;
    width: 50%;
    margin-top: -50px;
}

#page {
    display: flex;
    margin-left: 5%;
    align-items: flex-end;
    justify-content: flex-end;
    height: 50%;
    margin-top: -50px;
    margin-right: 2%;
}

#main {
    height: 7900px;
    background-color: black;
}

#description {
    margin-block-start: 0;
    width: 55%;
    margin-left: 10%;
    padding-top: 150px;
    font-size: 2.5em;
    letter-spacing: 2px;
    line-height: 60px;
}

a {
    color: white;
    margin-left: 10%;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}

#plantein {
    margin-top: 200px;
    float: left;
    width: 650px;
    margin-left: 10%;
}

#branding {
    float: right;
    margin-top: 325px;
    margin-right: 15%;
}

#imageBranding {
    width: 650px;
}

#lip {
    width: 80%;
    margin-left: 10%;
    margin-top: 200px;
}

#liptember {
    margin-left: 10%;
    font-size: 1.5em;
}

#clocky {
    width: 500px;
    float: left;
    margin-top: 300px;
    margin-left: 15%;
}

#logoGif {
    float: right;
    margin-top: 200px;
    margin-right: 10%;
}

#voostGif {
    width: 750px;
}

#mageThumbs {
    width: 80%;
    margin-left: 10%;
    margin-top: 200px;
}

#mageze {
    margin-left: 10%;
    font-size: 1.5em;
}

#delta {
    float: left;
    margin-top: 200px;
    margin-left: 10%;
}

#deltaTitle {
    margin-top: 50px;
    font-size: 1.5em;
}

#deltaTitle2 {
    visibility: hidden;
    margin-top: 50px;
    font-size: 1.5em;
}

#deltaProduct {
    width: 725px;
    float: right;
    margin-top: 475px;
    margin-right: 10%;
}

#coffeeContainer {
    width: 80%;
    margin-left: 10%;
}

#coffe {
    margin-top: 200px;
    width: 100%;
}
 
#coffeBrand {
    float: left;
    font-size: 1.5em;
}

#moreWork {
    float: right;
    margin-top: 10px;
    font-size: 1.5em;
}

#containerWhite {
    height: 3600px;
}

#feed {
    font-weight: lighter;
    margin-top: 50px;
    text-align: center;
    color: black;
    font-size: 2.3em;
    font-family: Arial, Helvetica, sans-serif;
}

.imagesContainer {
    display: inline-flex;
}

#magensiumContainer {
    margin-top: 300px;
    width: 50%;
}

#magensiumContainer > h3 {
    margin-left: 5%;
}

#magensiumContainer > a {
    margin-left: 5%;
}

h3 {
    line-height: 45px;
    font-size: 1.6em;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
}

.readMore {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    margin-left: 0;
}

#magnesium {
    width: 600px;
    margin-left: 10%;
}

#magensiumContainer > h3 {
    margin-left: 10%;
}

#magensiumContainer > a {
    margin-left: 10%;
}

#crowdContainer {
    margin-top: 100px;
    width: 40%;
}

#crowd {
    width: 625px;
}

#beginningsContainer {
    margin-top: 150px;
    width: 50%;
}

#beginnings {
    width: 600px;
    margin-left: 10%;
}

#beginningsContainer > h3 {
    margin-left: 10%;
}

#beginningsContainer > a {
    margin-left: 10%;
}

#peachContainer {
    margin-top: 150px;
    width: 40%;
}

#peach {
    width: 600px;
    margin-left: 5%;
}

#peachContainer > h3 {
    margin-left: 5%;
}

#peachContainer > a {
    margin-left: 5%;
}

#andyContainer {
    margin-top: 225px;
    width: 50%;
}

#andy {
    width: 600px;
    margin-left: 10%;
}

#andyContainer > h3 {
    margin-left: 10%;
}

#andyContainer > a {
    margin-left: 10%;
}

#kawsContainer {
    margin-top: 150px;
    width: 40%;
}

#kaws {
    width: 600px;
    margin-left: 5%;
}

#footer {
    height: 1050px;
    background-color: black;
}

#titleFooter {
    padding-top: 250px;
    width: 70%;
    font-size: 2.5em;
}

#containerTitleFooter {
    margin-left: 10%;
    width: 50%;
}

#containerFooter {
    display: inline-flex;
    margin-left: 10%;
    margin-top: 100px;
    width: 90%;
}

#business {
    width: 40%;
}

#newBusiness {
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-color: white;
}

#touch {
    font-size: 1.5em;
}

#phone {
    font-size: 1.5em;
}

#location {
    width: 50%;
    margin-top: 25px;
}

#level {
    font-size: 1.5em;
}

#melbourne {
    font-size: 1.5em;
}

#connected {
    margin-left: 10%;
    margin-top: 50px;
}

#connect {
    font-size: 1.5em;
    text-decoration: underline white;
}

#socials1 {
    font-size: 1.5em;
}

#socials2 {
    font-size: 1.5em;
}

h4 {
    margin-left: 10%;
    margin-top: 150px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
} 


@media (max-width: 1450px) {
    #main {
        height: 6500px;
    }

    #description {
        width: 60%;
        font-size: 2.2em;
    }

    #plantein {
        width: 500px;
    }

    #imageBranding {
        width: 500px;
        margin-left: 5%;
    }

    #titlePlantein {
        margin-left: 5%;
    }

    #clocky {
        width: 450px;
        margin-left: 10%;
    }

    #voostGif {
        width: 550px;
        height: 700px;
    }

    #deltaImage {
        width: 500px;
    }

    #deltaProduct {
        width: 550px;
    }

    #magnesium {
        width: 500px;
    }

    #crowd {
        width: 475px;
        height: 700px;
    }

    #beginnings {
        width: 500px;
    }

    #peach {
        width: 500px;
    }

    #andy {
        width: 500px;
    }

    #kaws {
        width: 520px;
    }

}
@media (max-width: 1350px) {
    #main {
        height: 6500px;
    }

    #plantein {
        width: 450px;
    }

    #imageBranding {
        width: 450px;
    }

    #clocky {
        width: 400px;
        margin-left: 10%;
    }

    #voostGif {
        width: 500px;
        height: 700px;
    }

    #delta {
        margin-left: 5%;
    }

    #deltaImage {
        width: 450px;
    }

    #deltaProduct {
        width: 450px;
    }

    #magnesium {
        width: 450px;
    }

    #crowdContainer {
        margin-top: 150px;
    }

    #crowd {
        width: 425px;
        height: 600px;
    }

    #beginnings {
        width: 450px;
    }

    #peach {
        width: 450px;
    }

    #andy {
        width: 450px;
    }

    #kaws {
        width: 470px;
    }

@media (max-width: 1200px) {
    #header {
        height: 700px;
        background-image: url("./images/CB-06.jpeg");
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
    }

    #description {
        width: 75%;
        margin-left: 5%;
        font-size: 1.75em;
    }

    a {
        margin-left: 5%;
        font-size: 1.75em;
    }

    #main {
        height: 5700px;
    }

    #plantein {
        margin-left: 5%;
        width: 400px;
    }

    #branding {
        margin-right: 10%;
    }

    #imageBranding {
        width: 400px;
    }

    #clocky {
        width: 350px;
        margin-left: 5%;
    }

    #logoGif {
        float: right;
        margin-top: 200px;
        margin-right: 5%;
    }

    #voostGif {
        width: 500px;
        height: 650px;
    }

    #deltaImage {
        width: 450px;
    }

    #deltaProduct {
        width: 450px;
        margin-right: 3%;
    }

    #containerWhite {
        height: 3300px;
    }

    #magnesium {
        width: 400px;
    }

    #crowdContainer {
        margin-top: 150px;
    }

    #crowd {
        width: 400px;
        height: 550px;
    }

    #beginnings {
        width: 400px;
    }

    #peach {
        width: 400px;
    }

    #andy {
        width: 400px;
    }

    #kaws {
        width: 420px;
    }

    #footer {
        height: 800px;
    }

    #containerTitleFooter {
        margin-left: 5%;
        width: 50%;
    }

    #titleFooter {
        font-size: 1.75em;
        padding-top: 100px;
    }

    #business {
        width: 60%;
    }

    #containerFooter {
        margin-left: 5%;
    }

    #connected {
        margin-left: 5%;
    }

    h4 {
        margin-left: 5%;
    }
}
@media (max-width: 1000px) {
    #header {
        height: 625px;
        background-image: url("./images/CB-06.jpeg");
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
    }

    #description {
        width: 75%;
        margin-left: 5%;
        font-size: 1.75em;
    }

    a {
        margin-left: 5%;
        font-size: 1.75em;
    }

    #main {
        height: 5250px;
    }

    #plantein {
        margin-left: 5%;
        width: 400px;
    }

    #branding {
        margin-right: 5%;
    }

    #imageBranding {
        width: 400px;
    }

    #clocky {
        width: 350px;
        margin-left: 5%;
    }

    #logoGif {
        float: right;
        margin-top: 200px;
        margin-right: 5%;
    }

    #voostGif {
        width: 450px;
        height: 550px;
    }

    #deltaImage {
        width: 400px;
    }

    #deltaProduct {
        width: 400px;
        margin-right: 3%;
        margin-top: 200px;
    }

    #containerWhite {
        height: 3300px;
    }

    #magensiumContainer {
        margin-top: 150px;
    }

    #magnesium {
        width: 400px;
        height: 450px;
    }

    #crowdContainer {
        margin-top: 150px;
    }

    #crowd {
        width: 400px;
        height: 550px;
    }

    #beginnings {
        width: 400px;
    }

    #peach {
        width: 400px;
    }

    #andy {
        width: 400px;
    }

    #kaws {
        width: 420px;
    }

    #footer {
        height: 825px;
    }

    #containerTitleFooter {
        margin-left: 5%;
        width: 50%;
    }

    #titleFooter {
        font-size: 1.75em;
        padding-top: 100px;
    }

    #business {
        width: 60%;
    }

    #containerFooter {
        margin-left: 5%;
    }

    #connected {
        margin-left: 5%;
    }

    h4 {
        margin-left: 5%;
    }
}
@media (max-width: 900px) {
    #header {
        height: 550px;
        background-image: url("./images/CB-06.jpeg");
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
    }
    #topRight {
        margin-right: 7%;
    }

    #description {
        width: 75%;
        margin-left: 5%;
        font-size: 1.75em;
    }

    a {
        margin-left: 5%;
        font-size: 1.75em;
    }

    #main {
        height: 5000px;
    }

    #plantein {
        margin-left: 5%;
        width: 400px;
    }

    #branding {
        margin-right: 5%;
    }

    #imageBranding {
        width: 400px;
    }

    #clocky {
        width: 350px;
        margin-left: 5%;
    }

    #logoGif {
        float: right;
        margin-top: 200px;
        margin-right: 5%;
    }

    #voostGif {
        width: 450px;
        height: 550px;
        margin-left: 5%;
    }

    #deltaImage {
        width: 400px;
    }

    #deltaProduct {
        width: 400px;
        margin-right: 3%;
        margin-top: 200px;
    }

    #containerWhite {
        height: 3300px;
    }

    #magensiumContainer {
        margin-top: 150px;
    }

    #magnesium {
        width: 375px;
        height: 425px;
        margin-left: 5%;
    }

    #magensiumContainer > h3 {
        margin-left: 5%;
    }
    
    #magensiumContainer > a {
        margin-left: 5%;
    }

    #crowdContainer {
        margin-top: 150px;
    }

    #crowd {
        width: 370px;
        height: 480px;
        margin-left: 5%;
    }

    #crowdContainer > h3 {
        margin-left: 5%;
    }

    #crowdContainer > a {
        margin-left: 5%;
    }

    #beginnings {
        width: 350px;
    }

    #peach {
        width: 350px;
    }

    #andy {
        width: 350px;
    }

    #kaws {
        width: 380px;
        margin-left: 5%;
        margin-top: 15px;

    }

    #footer {
        height: 825px;
    }

    #containerTitleFooter {
        margin-left: 5%;
        width: 50%;
    }

    #titleFooter {
        font-size: 1.75em;
        padding-top: 100px;
    }

    #business {
        width: 60%;
    }

    #containerFooter {
        margin-left: 5%;
    }

    #connected {
        margin-left: 5%;
    }

    h4 {
        margin-left: 5%;
    } 
}   

@media (max-width: 850px) {
    #main {
        height: 6750px;
    }

    #containerWhite {
        height: 3500px;
    }
}

@media (max-width: 800px) {

    #header {
        height: 450px;
        background-image: url("./images/CB-06.jpeg");
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
    }

    #description {
        width: 75%;
        margin-left: 5%;
        font-size: 1.75em;
        line-height: 50px;
        font-size: 2em;
    }

    a {
        margin-left: 5%;
        font-size: 1.75em;
    }

    #main {
        height: 8050px;
    }

    #plantein {
        margin-left: 5%;
        width: 90%;
        float: none;
        margin-top: 100px;
    }

    #branding {
        float: none;
        margin-top: 50px;
        margin-right: 0;
    }

    #imageBranding {
        width: 90%;
        margin-left: 5%;
    }

    #lip {
        margin-top: 150px;
        margin-left: 5%;
        width: 90%;
    }

    #liptember {
        margin-left: 5%;
    }

    #clocky {
        width: 90%;
        margin-top: 200px;
        margin-left: 5%;
        float: none;
    }

    #logoGif {
        float: none;
        margin-top: 100px;
        margin-right: 5%;
    }

    #logoGif > h1 {
        margin-left: 5%;
    }

    #mageze {
        margin-left: 5%;
    }

    #voostGif {
        width: 95%;
        height: 100%;
        margin-left: 5%;
        float: none;
    }

    #mageThumbs {
        width: 90%;
        margin-left: 5%;
        margin-top: 150px;
    }

    #delta {
        float: none;
        margin-left: 0;
    }

    #deltaImage {
        width: 90%;
        margin-left: 5%;
    }

    #deltaProduct {
        width: 90%;
        margin-left: 5%;
        margin-right: 0;
        margin-top: 0;
        float: none;
    }

    #deltaTitle {
        visibility: hidden;
    }

    #deltaTitle2 {
        visibility: visible;
        margin-left: 5%;
    }

    #coffeeContainer {
        margin-left: 0;
        width: 90%;
    }

    #coffe {
        margin-top: 150px;
        margin-left: 5%;
    }

    #coffeBrand {
        margin-left: 5%;
    }

    #containerWhite {
        height: 7000px;
    }

    .imagesContainer {
        display: block;
    }

    #magensiumContainer {
        margin-left: 0;
        margin-top: 150px;
        width: 100%;
    }

    #magnesium {
        width: 90%;
        height: 100%;
        margin-left: 5%;
    }

    #magensiumContainer > h3 {
        margin-left: 5%;
    }

    .readMore {
        margin-left: 5%;
    }

    #crowdContainer {
        margin-top: 75px;
        width: 100%;
    }

    #crowd {
        width: 90%;
        height: 100%;
        margin-left: 5%;
    }

    #crowdContainer > h3 {
        margin-left: 5%;
    }

    #beginningsContainer {
        margin-left: 0;
        margin-top: 75px;
        width: 100%;
    }

    #beginnings {
        width: 90%;
        margin-left: 5%;
    }

    #beginningsContainer > h3 {
        margin-left: 5%;
    }

    #peachContainer {
        margin-top: 75px;
        width: 100%;
        margin-left: 0;
    }

    #peach {
        width: 90%;
    }

    #andyContainer {
        width: 100%;
        margin-top: 75px;
        margin-left: 0;
    }

    #andy {
        width: 90%;
        margin-left: 5%;
    }

    #andyContainer > h3 {
        margin-left: 5%;
    }

    #kawsContainer {
        margin-top: 75px;
        width: 100%;
        margin-left: 0;
    }

    #kaws {
        width: 90%;
        margin-left: 5%;
    }

    #kawsContainer > h3 {
        margin-left: 5%;
    }

    #footer {
        height: 1000px;
    }

    #containerTitleFooter {
        width: 50%;
    }

    #titleFooter {
        font-size: 1.75em;
        padding-top: 100px;
    }

    #business {
        width: 60%;
        margin-bottom: 100px;
    }

    #containerFooter {
        display: block;
        margin-top: 50px;
    }

    h4 {
        margin-left: 10%;
    } 
}

@media (max-width: 775px) {
    #main {
        height: 7850px;
    }

    #containerWhite {
        height: 6900px;
    }
}
@media (max-width: 750px) {
    #main {
        height: 7700px;
    }

    #containerWhite {
        height: 6750px;
    }
}

@media (max-width: 725px) {
    #main {
        height: 7470px;
    }

    #containerWhite {
        height: 6750px;
    }
}

@media (max-width: 700px) {
    #main {
        height: 7300px;
    }

    #containerWhite {
        height: 6550px;
    }
}

@media (max-width: 675px) {
    #main {
        height: 7175px;
    }

    #containerWhite {
        height: 6400px;
    }
}

@media (max-width: 650px) {
    #header {
        height: 300px;
    }

    #main {
        height: 7000px;
    }

    #containerWhite {
        height: 6250px;
    }
}

@media (max-width: 625px) {
    #main {
        height: 6775px;
    }
    #containerWhite {
        height: 6100px;
    }
}
@media (max-width: 600px) {
    #main {
        height: 6575px;
    }
    #containerWhite {
        height: 6050px;
    }
}

@media (max-width: 575px) {
    #main {
        height: 6400px;
    }
    #containerWhite {
        height: 5950px;
    }
}

@media (max-width: 550px) {
    #main {
        height: 6100px;
    }

    #topCenter {
        left: 35%;
    }

    #description {
        width: 90%;
        font-size: 1.5em;
        line-height: 35px;
    }

    #containerWhite {
        height: 5850px;
    }

    #footer {
        height: 900px;
    }

    #containerTitleFooter {
        width: 75%;
    }

    #titleFooter {
        font-size: 1.5em;
    }

    #business {
        margin-bottom: 50px;
    }

    #location {
        width: 100%;
    }

    #level {
        font-size: 1.3em;
    }

    #melbourne {
        font-size: 1.3em;
    }

    #connect {
        font-size: 1.25em;
    }

    #socials1 {
        font-size: 1.25em;
    }

    #socials2 {
        font-size: 1.25em;
    }

    h4 {
        margin-left: 5%;
    }
}

@media (max-width: 500px) {
    #main {
        height: 5700px;
    }
    #containerWhite {
        height: 5700px;
    }
}
@media (max-width: 475px) {
    #main {
        height: 5600px;
    }
    #containerWhite {
        height: 5600px;
    }
}

@media (max-width: 450px) {
    #main {
        height: 5350px;
    }
    #containerWhite {
        height: 5500px;
    }
}

@media (max-width: 425px) {
    #main {
        height: 5250px;
    }
}

@media (max-width: 400px) {
    #header {
        height: 250px;
    }

    #main {
        height: 5100px;
    }

    #containerWhite {
        height: 5500px;
    }

    #footer {
        height: 800px;
    }
}
} 
